[submodule "NvChad"]
	path = nvim/NvChad/base
	url = ../../NvChad/NvChad.git
	branch = v2.0
[submodule "nv_custom"]
	path = nvim/NvChad/custom
	url = ../NvChad-custom.git
	branch = main
[submodule "AstroNvim"]
	path = nvim/AstroNvim/base
	url = ../../AstroNvim/AstroNvim.git
	branch = main
[submodule "as_user"]
	path = nvim/AstroNvim/user
	url = ../user.nvim.git
	branch = main
[submodule "zimfw"]
	path = zimfw
	url = ../zimfw.git
	branch = main
